streamlit
Pillow
requests
pandas
matplotlib
seaborn
openai 
reportlab
schedule
requests-html
jpstat
wbgapi
fredapi
lxml
lxml_html_clean
speechrecognition
PyMuPDF
beautifulsoup4
translate
