streamlit
Pillow
requests
pandas
matplotlib
plotly
seaborn
openai 
reportlab
schedule
requests-html
jpstat
wbgapi
fredapi
lxml
lxml_html_clean
speechrecognition
PyMuPDF
beautifulsoup4
translate
streamlit_option_menu
statsmodels
scipy
linearmodels
nltk
pysentiment2
wordcloud

